body{
    overflow-x:hidden;
    font-family: Assistant;
}


#title{
    
    height: 15vh;
    background-image:url(../images/rsz_watercolor_with_blue_detailed_background.jpg);
    background-repeat: no-repeat;
   
    
}
#title h2{
    padding-top: 35px;
    text-align: center;;
}
.table{
    overflow-x: scroll;
}

#sam_coll{
    height: 10vh;
    width: 100%;
    background-color: violet;
}
#myChart{
    margin-top: 15vh;
    margin: auto;
    padding: auto;
    position: relative;
}
#gender{
    height: 60vh;
    width: 100%;
    background-image: url(../images/ca.drawio.png);
    background-size: cover;
    background-position: center;
}
#line-section {
    
}
#line-section img{
    margin: 5px;
}
.sam_coll{
    margin-top: 20px;
}
#piez{
    margin-top: 40px;
    height: 70vh;
    width: 100;
    
}
#gen-card{
    margin: 20px;
    padding: 15px;
}
.card{
    padding: 18px;
}
#accordionExample{
    margin: 20px;
}
#w_distance{
    margin-top: 40px;
}



/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
    #line-chartcanvas{
        min-height: 550px !important;
    }

 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {  }